.inputGroup {
    flex: 0;
}

.inputGroup {
    margin-top: 15px;
    margin-bottom: 15px;
}

.inputGroup > input {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background-color: white;

    max-width: calc(100% - 20px);

    border: white 2px solid;

    transition: border-color 0.7s;
}

.inputGroup > label {
    font-size: 25px;

}