.ScalableTextArea > textarea {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    border: white 2px solid;
    width: 100%;

    height: 30px;
    resize: none;

    transition: border-color 0.7s;
}

.ScalableTextArea > label {
    font-size: 25px;
}