.InputContainer {
    display: flex;
    flex-wrap: wrap;
}

.InputContainer > *{
    margin-right: 30px;
    margin-top: 0px;

    width: 100%;
}

.InputContainer:last-child {
    margin-right: 0px;
}